{{#view Avatar.FormView}}
  {{view Em.TextField valueBinding="email" placeholder="me@example.com"}}
  <button
    {{bindAttr disabled="controller.preventsSubmit"}}>Get it</button>
{{/view}}

{{outlet}}
